h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    /* color: rgb(63, 62, 62); */
    color: black;
}
p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: black;
}

#title h2 {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;   
}
.nav-link {
    color: black;
    font-size: 16px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#container {
    background:rgb(253, 253, 253);
}
#about-me-icons {
    background: white;
    text-align: center;
    margin-top: 50px auto;
}
a:hover {
    color: white;
}
#name-and-title {
    text-align: center;
    margin: 200px auto
}
.fa-linkedin, .fa-github, .fa-circle-thin, .fa-envelope, .fa-file-pdf-o  {
    color: black;
}
.fa-stack {
    margin-top: 10px;
}
#about-me {
    text-align: center;
    height: 25vh;
}
#about-me p {
    font-size: 16px;
}
#skills li {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    font-weight: lighter;

}
.bio {
    justify-content: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin: auto;
}
hr {
    width: 50%;
}

#small-hr {
    width: 10%;
}

  
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-color: #111;
}

.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
	letter-spacing: 1px;
}
.portfolio {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90vh;
    letter-spacing: 1px;
    margin-top: 30px;
}
.about-me {
	font-family: "Montserrat";
	text-align: center;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
    letter-spacing: 1px;
    margin-top: 30px;
}

.title h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 3.5rem;
	line-height: .75;
    margin: 10px 0;
    font-weight: bold;
}

#about-me h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 3rem;
	line-height: .75;
    margin: 10px 0;
    font-weight: bold;
} 
.portfolio h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 3rem;
	line-height: .75;
    margin: 10px 0;
    font-weight: bold;
} 
.giphy img {
    width: 200px;
    height: auto;
    margin-top: 50px;
}
