/* index.html */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
.title h1  {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
    font-size: 11vw;
	line-height: .75;
    margin: 10px 0;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 50px;
}

.title {
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    letter-spacing: 1px;
}

.title h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 25px;
    font-size: 1.5em;
    font-weight: lighter;
    color: rgb(32, 31, 31);
}

.title h4, .me-container h4 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    color: black;
}

p, li {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: black;
}

li {
    background-color: rgb(241, 241, 241);
}

.my-work a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 153, 115);
    font-size: 1.2em;
    padding: 10px;
    color: rgb(218, 153, 115);;
}

.my-work a:hover {
    color: rgb(223, 97, 24);
    text-decoration: none;
    align-content: center;
    justify-content: center;
}

/* aboutme.html */

/* @import url('https://fonts.googleapis.com/css?family=Montserrat');
.p h1, .skills h1 {  
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 4rem;
	line-height: .75;
    margin: 20px 0;
    font-weight: bold;
    font-family: "Montserrat";
}  */



/* portfolio projects */

/* .projects-left {
    align-content: center;
    text-align: center; 
    overflow: auto;
    width: 90%;
    height: 400vh;
    margin-right: 25px;
} */

/* .projects-left a {
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    bottom: 100;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px;
    padding-top: 10px; 
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    background-color: black;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
} */

/* .projects-left a:hover {
    text-decoration: none;
    align-content: center;
    justify-content: center;
}

.card-body a {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    background-color: black;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
} */

/* carousel */

.card-body img {
    width: 35rem;
    height: auto;
}
.carousel {
    margin-bottom: 35px;
    width: 35rem;
    align-content: center;
    justify-content: center;
}

/* aboutme.html */

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin: 30px;
  }
  
.left {
    left: 0;
    background-color: #161616;
}
  
.right {
    right: 0;
    background-color: #F8F8F8;
}

.fa-linkedin, .fa-github, .fa-circle-thin, .fa-envelope, .fa-file-pdf-o {
    color: rgb(216, 214, 214);
}

.container img {
    height: auto;
    width: 60%;
    /* margin-left: 40px; */
    margin-top: 75px;
}

/* nav bar */

.about-me-nav, .home-nav {
    color: rgb(36, 34, 34);
    font-size: 16px;
    margin-left: 15px;
}

.aboutMe {
    margin-left: 20px;
    margin-top: 5px;
}

.aboutMe h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: left;
}

#about-me-icons {
    text-align: left;
    /* position: absolute;
    bottom: 40px; */
}

.navTabs :hover{
    background-color: rgb(185, 177, 177);
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navTabs {
    position: absolute;
    right: 30px;
}

@media screen and (max-width: 600px) {
    .card-body img {
        width: 25rem;
        height: auto;
    }
    .carousel {
        margin-bottom: 30px;
        width: 25rem;
        align-content: center;
        justify-content: center;
    }
  }

@media screen and (max-width: 413px) {
    .card-body img {
        width: 24rem;
        height: auto;
        align-content: center;
        justify-content: center;
    }
    .carousel {
        margin-bottom: 30px;
        width: 24rem;
        align-content: center;
        justify-content: center;
    }
  }

