/* home.html */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
.title h1  {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
    font-size: 11vw;
	line-height: .75;
    margin: 10px 0;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 50px;
}

.title {
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    letter-spacing: 1px;
}

.title h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 25px;
    font-size: 1.5em;
    font-weight: lighter;
    color: rgb(32, 31, 31);
}

.title h4, .me-container h4 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    color: black;
}

.my-work a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgb(218, 153, 115); */
    border: 1px solid rgb(20, 20, 20);
    font-size: 1.2em;
    padding: 10px;
    color: rgb(20, 20, 20);;
}

.my-work a:hover {
    color: rgb(223, 97, 24);
    text-decoration: none;
    align-content: center;
    justify-content: center;
}
.home-nav, .about-me-nav {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.home-nav a:hover, .about-me nav {
    text-decoration: none;
    align-content: center;
    justify-content: center;
}

li {
    list-style-type: none;
}


  .techSkills {
    font-family: "Montserrat";
}

/* Portfolio */

.portfolioTitle {
    font-family: "Montserrat";
    font-weight: 300;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: lighter;
    color: rgb(32, 31, 31);
}

.buttons{
    background-color: #f0eeee;
    color: black;
    padding: 5px;
    border-radius: 5px black solid;
    font-family: "Montserrat";
    font-size: 14px;
}

/* aboutme.html */

.fa-linkedin, .fa-github, .fa-circle-thin, .fa-envelope, .fa-file-pdf-o {
    color: rgb(117, 115, 115);
}

.container1 img {
    height: auto;
    width: 60%;
    margin-top: 75px;
}

.kristina {
    width: 350px;
    margin-bottom: 45px;
}

/* nav bar */

.about-me-nav, .home-nav {
    color: rgb(36, 34, 34);
    font-size: 16px;
    margin-left: 15px;
}

.aboutMe {
    margin-left: 20px;
    margin-top: 5px;
    font-family: "Montserrat";
}

.aboutMe h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

#about-me-icons {
    text-align: left;
}

.navTabs :hover{
    background-color: rgb(185, 177, 177);
    color: rgb(0, 0, 0);
    text-decoration: none;
}
